In [15]:
import pandas as pd
from pathlib import Path

data_dir = Path('..') / 'data'
df = pd.read_csv(data_dir / 'MWOs_anon.csv')

In [16]:
df.head()

,Unnamed: 0,mach,date_received,requested_by,issue,down_y/n,date_completed,tech,info,part_in_process,time_submitted,time_up,unnamed:_11,unnamed:_12,unnamed:_13
0,0,A5,2015-01-14,Bruce,No power,Y,2016-11-16,"angie_henderson, michele_williams",Replaced pin in pendant and powered machine -P...,NaN,NaN,NaN,DK,Denis Kusiak,NaN
1,1,QA,2015-02-27,QA,Smartscope harness broken,Y,2016-02-27,"gina_moore, tech",Parts ordered / Tech repaired,NaN,NaN,NaN,NaN,NaN,NaN
2,2,A18,2015-02-27,Steve C,Check / Charge Accumulators,N,2016-02-27,nathan_maldonado,Where OK,NaN,NaN,NaN,NaN,NaN,NaN
3,3,A23,2015-02-27,Steve C,Hyd leak at saw atachment,N,2016-02-27,michele_williams,Replaced seal in saw attachment but still leak...,NaN,NaN,NaN,NaN,NaN,NaN
4,4,A24,2015-02-27,Clark,CS1008 setup change over / from ARC1004,Y,2016-03-02,"ethan_adams, michele_williams",Completed / Threading unit rewired,NaN,NaN,NaN,NaN,NaN,NaN